#boton {
    background-color: #ccc;
    color: #fff;
    width: 100px;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 5px;
}

#boton02 {
    background-color: #1CDC0F;
    color: #fff;
    width: 100px;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 5px;
}